.body{
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 2px;
    border-width: 3px;
    border-radius: 20px;

    background-image: linear-gradient(90deg,#1fceff6e,#2b74d498);
    padding: 8px;
}

.profilePic{
    border-radius: 50%;
    border-style: solid;
    border-width: thick;
    box-shadow: 0px 0px 10px #888888;
    border-color: white;
    height: 15vw;
    max-height: 148px;
    margin-right: 1.5vw;
    margin-left: 1.2vw;
}

.logo{
    border-radius: 30px;
    border-style: solid;
    border-width: thick;
    box-shadow: 0px 0px 10px #888888;
    border-color: white;
    height: 15vh;
    margin-right: 1.5vw;
    margin-left: 1.2vw;
}

.apk{
    border-radius: 10px;
    border-style: solid;
    border-width: thick;
    box-shadow: 0px 0px 10px #888888;
    border-color: white;
    height: 7vh;
    margin-right: 1.5vw;
    margin-left: 1.2vw;
}

.farUpperLeft{
    flex :0;
}
 .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
.mainContent{
    flex: 1;
    display: flex;
    padding-left:2vw;
    padding-right: 2vw;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    background-image: linear-gradient(270deg,#1fceff6e,#2b74d498);
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cardDiv{
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 18px;
    border-width: thick;
    border-color: white;
    box-shadow: 0px 0px 10px #888888;
    margin: 1.2vw;
    display: flex;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    align-items: center;
    max-width: 350px;
    animation: slideup 1s forwards;
}

h2{
    font-size: 4vw;
    color: #1f2aff86;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: slideup 1s forwards;
}

input{
    background-color: transparent;
    border-radius: 20px;
    border-color: #1fceff;
    border-width: thick;
    margin-bottom: 10px;
    height: 3vh;
    width: 50vw;
    text-align: center;
}

h1{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    color: white;
}

p{
    color: #fbfbfb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

